.react-quiz-container .questionWrapper .btn.correct {
    background: white;
    color: black;

}

.react-quiz-container .questionWrapper .incorrect {
    background: white;
    color: black;
}

.tag-container {
    display: none;
}

.questionWrapperBody > h3:nth-child(3) > p:nth-child(1) {
    display: none;
}

/* Add css here to ensure that the answer boxes respond to mouse hover over events 

.react-quiz-container .questionWrapper .btn  - is a good place to start... you will need to have a pseudo class for hover
https://www.w3schools.com/cssref/sel_hover.asp
https://css-tricks.com/css-link-hover-effects/ - more indepth but will explain how it works.

REMEMBER to work on a branch and not the MAIN


*/