.react-quiz-container .questionWrapper .btn.correct {
    background: white;
    color: black;

}

.react-quiz-container .questionWrapper .incorrect {
    background: white;
    color: black;
}

.tag-container {
    display: none;
}

.questionWrapperBody > h3:nth-child(3) > p:nth-child(1) {
    display: none;
}

/* Add css here to ensure that the answer boxes respond to mouse hover over events  */